*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3em;
    color: #44EBA4;
}
span{
    font-size: 1.5em;
    color: #E7BB41;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 9fr 1fr;
}
header{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
nav{
    background-color: aqua;
    width: 100%;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
section{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
article{
    box-sizing: border-box;
    background-color: #E7E5DF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
aside{
    box-sizing: border-box;
    background-color: deeppink;
    width: 100%;
}
img{

}
footer{
    background-color: chocolate;
}